.menu-primary-nav-container {
	font-weight:400;
	li a{

		font-size:16px;
		color:$dark-text;

		@include vendor(transition, all 0.15s);

		&:hover {
			color: lighten($dark-text, 20%);
			margin-bottom: -2px;
		}
	}

	ul{
		margin-left:-$rem-base*1.375;
	}


}

@media only screen and (min-width: $large-breakpoint) {
	.menu-primary-nav-container {	
		li a{
			font-size:20px;
		}
	}
}



.topbar__search--link, .topbar__checkout--link{
	position:absolute;
	top:$rem-base;


    a {
    	color:$dark-text;  
    	padding:9px;
		border-radius: 1000px;

		@include vendor(transition, all 0.25s);

	    &:hover {
			color: $secondary-color;
			background-color: $dark-text

		}  	

    }

    i{
    	font-size:$rem-base;
    	width:$rem-base;
    	height:$rem-base;

	}


}

@media only screen and (min-width: $large-breakpoint) {
	.topbar__search--link, .topbar__checkout--link{
		top:20px;
	}
}

.topbar__search--link{
	right:48px;
}

.topbar__checkout--link{
	right:4px
}

.nav__icons{
	text-align:right;
}



// sidebar

#sidebar{
	padding-left:$rem-base;
	padding-right:$rem-base;
	border-left: solid 1px $gainsboro;
	ul{
		margin-left:0px;

		li{
			list-style:none;
			a {
				&:hover{

					color: $body-font-color;

				}
			}
		}
	}

	h4{
		font-size:rem-calc($rem-base*1.25);
	}

	p, ul, li {
		font-size:rem-calc($rem-base*0.9);
	}
}

//offcanvas

.offcanvas__search--wrapper{
	position:relative;
	h3{
		color:$white;
		font-size:$rem-base*1.25;
	}
	.btn.btn--expand{
		max-width:203px;
	}

}