/* sorry for all the important overrides here. Everything was going smoothly until I needed only the 
dropdown functionality from foundations topbar. It's very insistent on it's styling (bloody mess) */

.menu-primary-nav-container {
	@extend .top-bar-section;
	font-weight:500;
	li{
		margin-left:0px !important;
		padding:($rem-base*1.375)/2 !important;
	}
	li a{
		padding:0px;
		background:none !important;
		font-size:16px !important;
		line-height:16px !important;
		font-family: 'Roboto', sans-serif;
		color:$dark-text;
		font-weight:400 !important;

		@include vendor(transition, all 0.15s);

		&:hover {
			color: lighten($dark-text, 20%);
		}

		&:after{
			display:none !important;
		}
	}

	ul{
		display:block !important;
		margin-left:-($rem-base*1.375)/2 !important;
		margin-top:0px;
		margin-bottom:0px;
	}

	.sub-menu {
		@extend .dropdown;
		left:11px;
		top:38px;
		background-color: $primary-color !important;
		padding: $rem-base !important;
		list-style:none !important;

		li {
			padding:4px !important;
		}

		li a {
			font-size:rem-calc(16px) !important;
		}

	}


}


.menu-item-has-children {
	@extend .has-dropdown;
	@extend .not-click;

	a:hover{
		color:$dark-text !important;
	}
	&:hover{
		background-color:$primary-color;
	}
}



@media only screen and (min-width: $large-breakpoint) {
	.menu-primary-nav-container {	
		li a{
			font-size:22px !important;
			line-height:22px !important;
		}
	}
}

.menu-primary-nav-container li:not(.has-form) a:not(.button) {
	padding-right:0px !important;
}


.topbar__search--link, .topbar__checkout--link{
	position:absolute;
	top:4px;


    a {
    	color:$dark-text;  
    	padding:9px;
		border-radius: 1000px;

		@include vendor(transition, all 0.25s);

	    &:hover {
			color: $secondary-color;
			background-color: $dark-text

		}  	

    }

    i{
    	font-size:20px;
    	width:20px;
    	height:20px;

	}


}


.topbar__search--link{
	right:48px;
}

.topbar__checkout--link{
	right:4px
}

.nav__icons{
	text-align:right;
}



// sidebar

#sidebar{
	padding-left:$rem-base;
	padding-right:$rem-base;
	border-left: solid 1px $gainsboro;
	ul{
		margin-left:0px;

		li{
			list-style:none;
			a {
				&:hover{

					color: $body-font-color;

				}
			}
		}
	}

	h4{
		font-size:rem-calc(22);
		font-weight:400;
	}

	p, ul, li {
		font-size:rem-calc(18px);
		
		font-weight:400;

		a{
			color:$dark-text;
		}
	}
}

//offcanvas

.offcanvas__search--wrapper{
	position:relative;
	h3{
		color:$white;
		font-size:$rem-base*1.25;
	}
	.btn.btn--expand{
		max-width:203px;
	}

}

.menu-primary--offcanvas{
	list-style:none;
	padding:$rem-base/2;
	li a{
		font-size:20px;
		margin-bottom:8px;
		color:$white;
	}
}